body {
    font-family: 'Roboto Condensed', sans-serif;

}

h1 {
    font-weight: bold;
    text-align: center;
}

blockquote p:first-child {
    font-weight: 400;
}

blockquote p:last-child {
    font-weight: 700;
    font-style: italic;
}